@{
    ViewBag.Title = "Тенис клубове";
}
<h1>Тенис клубове в Благоевград</h1>
<div class="alert alert-info">
   
       <p></p><a href="http://tennis24.bg/club.php?id=32">Тенис клуб "Бачиново"</a>
       <p></p><a href="https://www.facebook.com/tenispokrovnik/">Тенис клуб "Покровник"</a>
       <p></p><a href="https://www.facebook.com/uscacademic/">Тенис клуб "Академик - Благоевград"</a>
     
</div>
    
