@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Благоевград<br />
    
    <abbr title="Phone">Тел.</abbr>
    0889 628 682
</address>

<address>
    <strong>Имейл:</strong>   <a href="mailto:h.chorbadzhiyski@gmail.com">h.chorbadzhiyski@gmail.com</a><br />
</address>