@{
    ViewBag.Title = "Home Page";
}

<div class="container" >
    <h3>IT тенис клуб</h3>
    <p class="lead">В нашият тенис клуб са добре дошли всички, които накога са играли или имат желание някога да започнат да играят тенис!</p>
    <div class="pull-right">
        <p>@Html.ActionLink("Безплатни уроци по тенис", "TennisLessons", "Home", new { @class = "btn btn-primary btn-sm" })</p>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>Ползи за физическото състояние на тялото от тениса</h2>
        <p>
            <p>Аеробното натоварване изгаря мазнините и подобрява Вашата сърдечно-съдова дейност, поддържайки по-високи енергийни нива.
        Анаеробната тренировка от кратки интензивни движения следвани от почивка, помагат на мускулите Ви да използват кислорода по-ефективно.
Подобрява се способността за ускорение чрез практикуването на спринт серии и скокове.
Експлозивната „първа стъпка”, изисква умение за предвиждане, бърза реакция и експлозивна сила.
Подобрява се скоростта Ви чрез серии от придвижване на двете страни, напред и назад при специфичното движение в корта.
Тенисът увеличава стабилността и укрепва краката Ви при стотиците стартирания и спирания. Изграждате силна мускулатура на краката.
Тенисът подобрява общата координация на тялото Ви, тъй като успешният удар изисква координиране на горната и долната част на тялото.
Усъвършенстване на ловкостта, която се добива при промяна на посоката средно по 5 пъти за 10 секунди при едно единствено разиграване.
Подобряване динамичното Ви равновесие чрез стотиците стартове, спирания и промени на посоката.
Заздравяване и укрепване на костите на младите играчи, предотвратяване на остеопорозата.
Укрепване на имунната система и цялостното Ви здравословно състояние.
Подобряване на хранителните навици. Тенисистите са свикнали с режим на хранене преди тренировка за засилване производството на енергия и след тренировка за възстановяването й.
Координация „ръка-око” за правилна преценка кой е точният момент за удар по идващата топка.
Увеличаване на гъвкавостта заради постоянното разтягане и маневриране при отиграване на топката.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Психологически ползи от тениса</h2>
        <p>Развиване на дисциплинираност.
Управление на грешките чрез научаване да играете в рамките на възможностите си и осъзнаване, че минимизирането на грешките както в тениса, така и в живота е от решаващо значение.
Научаването да се конкурирате „един на един” на корта ще Ви помогне да се справите с подобни ситуации и в реалния живот.
Умение за приспособяване към условията (например вятър, слънце) и упоритост да се борите въпреки тях.
Ефективно управление на стреса – физическото, умственото и емоционалното напрежение в тениса ще Ви принудят да увеличите капацитета си за справяне със стреса.
Ще се научите как да се възстановявате от стреса чрез адаптиране към него.
Планиране и прилагане на стратегии по предвиждане ходовете на противника, както и по осъществяване на контра действия.
Придобиване умение за решаване на проблеми.
Развиване на умения за изпълняване на различни ритуали преди сервис. Те ще Ви помогнат да държите под контрол играта си и да се справяте по-лесно с напрежението. Тези умения могат да се внедрят успешно в живота, например преди изпити, срещи, презентации и др.
Ще се научите на спортсменство, тъй като тенисът учи на честна конкуренция с противника.
Научаване да се печели грациозно с и да се губи с достойнство. Злорадството след победа или намирането на извинения при загуба, не са приложими нито в тениса, нито в живота.
Работа в екип. Успешната игра на двойки зависи от способността на Вас и партньора Ви да комуникирате помежду си и да играете като едно цяло.
Развиване на социални умения чрез осъществяване на контакти и комуникация преди, по време и след мача, както на корта, така и извън него.
И не на последно място, тенисът носи забавление, защото здравословните чувства на удовлетвореност, задоволство и физическо предизвикателство са присъщи за спорта.</p>
       
    </div>
</div>