
@{
    ViewBag.Title = "TennisLessons";
}

@if (this.User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h3>  уроци по тенис</h3>
            <p>Урок 1: Форхенд</p>
            <iframe width="186" height="105" src="https://www.youtube.com/embed/_k2c2ocRDuk" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
            <h3>  уроци по тенис</h3>
            <p>Урок 2: Бекхенд</p>
            <iframe width="186" height="105" src="https://www.youtube.com/embed/96XMFL-wOAk" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
            <h3>  уроци по тенис</h3>
            <p>Урок 3: Сервис</p>
            <iframe width="186" height="105" src="https://www.youtube.com/embed/MizATnbvgts" frameborder="0" allowfullscreen></iframe>
        </div>
    <br />
        <br />
    </div>
    <div align="center">
        <div class="align-center bg-warning"><h3>Безплатни уроци по тенис - за всеки, който има желание да помага в програмирането. Свържете се с нас!!!</h3></div>
    </div>
}
else
{
    <div class="alert">
        <div class="col-md-4">
            <h3>
                Please register!!!
            </h3>
        </div>
    </div>
}

